body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#black {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#dvd {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 552px;
  width: 500px;
  mask: url("images/pyu.svg");
  -webkit-mask: url("images/pyu.svg");
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}
